.column {
  grid-area: left;
  min-width: 0;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 5px 1fr;
  overflow: hidden;
  background: var(--color-bg-panel);
}

.column[data-custom] {
  grid-template-rows: minmax(180px, 1fr) 5px minmax(
      160px,
      min(var(--properties-height), calc(100% - 185px))
    );
}

.browser,
.properties {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.browser > *,
.properties > * {
  height: 100%;
}
